
/* *{
    padding: 0;
    margin: 0;
} */
/* html{
    font-size: 14px;
}
#parent{
  font-size: 10vw;
}
#chlid{
    font-size: 2em;
} */
/* h1{
font-weight:800;
}
p{ */
    /* font-variant: small-caps;
    font-size: 30px; */

    /* font-size: 30px;
   font-weight: bold;
   font-style: italic; */
/* } */
/* a{
    text-decoration: nrone;
}
a:link{
    color: yellowgreen;
}
a:visited{
color:black
}
a:hover{
color: brown;
}
a:active{
color:blueviolet
} */

/* #text{
 width: 500px;
 height: 300px;
    border: 1px solid black;
    writing-mode: vertical-rl; */   
/* } */
/* #shadow{
    font-size: 70px;
    text-shadow: 2px -10px 5px orangered;
} */